.searchField {
    position: relative;
    width: 90%;
    background: #fff;
    border-radius: 31px;
    font-size: 18px;
    color: var(--textcolor);
    line-height: 1.2;

    bottom: 47px;
    left: 25px;

    padding: 5px;
}

.lookingGlass {
    position: relative;

    top: 30px;
    left: 5px;
}

.page-filler {
    padding-top: 300px;
}
