.searchField {
    position: relative;
    width: 90%;
    background: #fff;
    border-radius: 31px;
    font-size: 18px;
    color: var(--textcolor);
    line-height: 1.2;

    bottom: 44px;

    padding: 5px;

}

.lookingGlass {
    position: relative;

    top: 30px;
    right: 230px;
}

.page-filler {
    padding-top: 300px;
}

.advanced-search-button{
    position: relative;

    bottom: 75px;
    left: 150px;
    color: black;
    background-color: #b6b1b1;
    width: 130px;

}

form {
    margin-bottom: 250px;
}